.button:focus{
    border:4px gray solid;
    }
    
  .det{
    margin-top:100;
    font-size:20;
    }
    
    footer {
      background: rgb(62, 39, 88);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10vh;
    }
    
    .footer-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      padding: 0 5rem;;
    }
    
    .footer-section p {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      color: white;
    }
    
    .footer-section .socials {
      margin-bottom: 1rem;
      color: black;
    }
    .footer-section .socials i {
      padding: 0 0.5rem;
      font-size: 1.6rem;
    }
    
    .footer-section .socials i:hover {
      color: #6e0aef;
      cursor: pointer;
    }